body {
	background-color: #000000;
}

b {
	color: red;
	font-size: 60px;
	font-weight: bold;
	font-family: Roboto;
	position: absolute;
	left: 40px;
	top: 40px;
}

div.issOrbit {
	position: absolute;
	top: 140px;
	left: 40px;
}

div.issView {
	position: absolute;
	top: 590px;
	left: 40px;
}

div.issGround {
	position: absolute;
	top: 140px;
	left: 380px;
}

div.kielderLogo {
	position: absolute;
	top: 920px;
	right: 70px;
}

div.key {
	color: red;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-family: Roboto;
	padding: 10px;
}

div.credits {
	position: relative;
	top: 990px;
	left: center;
	color: red;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Roboto;
}
