body
{
  background-color: black;
  color: white;
  font-family: Arial;
}
h1
{
  color: white;
  text-align: center;
}
.weatherData
{
  text-align: center;
  margin-top: 10%;
}
#feelsLikeTemp
{
}
#temp
{
  margin-top: 50px;
}
#precip
{
  margin-top: 50px;
}
#observation
{
  margin-top: 50px;
}
