body {
	background-color: #000000;
}

b {
	color: red;
	font-size: 60px;
	font-weight: bold;
	font-family: Roboto;
	position: absolute;
	left: 40px;
	top: 40px;
}

div.sunVisible {
	position: absolute;
	top: 140px;
	left: 40px;
}


div.sunMagneto {
	position: absolute;
	top: 140px;
	left: 667px;
}

div.sunXray {
	position: absolute;
	top: 140px;
	left: 1294px;
}

div.kielderLogo {
	position: absolute;
	top: 890px;
	right: 40px;
}

div.key {
	color: red;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-family: Roboto;
	padding: 10px;
}

div.caption {
	color: red;
	text-align: center;
	font-size: 40px;
	font-family: Roboto;
}

div.credits {
	position: relative;
	top: 990px;
	left: center;
	color: red;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Roboto;
}
